{% extends "base.html" %}

{% comment %} Bootstrap Template Used
https://bbbootstrap.com/snippets/simple-shopping-cart-coupon-code-input-text-39165166
{% endcomment %}





{% block ForStyle %}
<style>
    .shopping-cart {
        /* Styles for .container-fluid */
        margin-top: 70px; 
        
        /* Styles for .card-body */
        padding: 1.4rem;
        flex: 1 1 auto;
      }
      
      .shopping-cart .img-sm {
        width: 80px;
        height: 80px;
      }
      
      .shopping-cart .itemside .info {
        padding-left: 15px;
        padding-right: 7px;  
      }
      
      /* Other styles */
      
      .shopping-cart .btn-light {
        /* button styles */
      }
      
      /* Remove global body and font styles */
</style>
{% endblock ForStyle %}


{% block Heading %}New Entry{% endblock Heading %}


{% block body %}

    {% include "navbar.html" %}
        

    <div class="shopping-cart">

        <div class="container-fluid">
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col">Product</th>
                                        <th scope="col" width="120">Quantity</th>
                                        <th scope="col" width="120">Price</th>
                                        <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                                    </tr>
                                
                                </thead>
                                
                                <tbody>
                                    
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="https://cdn.pixabay.com/photo/2018/09/03/11/51/pictures-3651039_640.png" class="img-sm"></div>
                                                <figcaption class="info"> <div> 
                                                    <p>Image Size</p>
                                                    <select class="form-control" id = "quantity" style="width: 100px;">
                                                    <option>4X7</option>
                                                    <option>5X7</option>
                                                    <option>8X12</option>
                                                    <option>12X15</option>
                                                </select></div> 
                                                    <p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p>
                                                </figcaption>
                                            </figure>
                                        
                                        <td> <select class="form-control" id = "quantity" >
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select> </td>
                                        <td>
                                            <div class="price-wrap" > <input type="number" value="Rs" style="width: 100px;"> <small class="text-muted" > $9.20 each </small> </div>
                                        </td>
                                        
                                    </tr>
                                
                                <td class="text-right d-none d-md-block" > <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip" data-abc="true"> <i class="fa fa-heart"></i></a> </td>
                                </tbody>

                            </table>
                       
                        </div>
                   
                    </div>
                </aside>
                
                <aside class="col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <form>
                                <div class="form-group"> <label>Have coupon?</label>
                                    <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right ml-3">$69.97</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Discount:</dt>
                                <dd class="text-right text-danger ml-3">- $10.00</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b ml-3"><strong>$59.97</strong></dd>
                            </dl>
                            <hr> <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a> <a href="#" class="btn btn-out btn-success btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

    </div>

{% endblock body %}